@import "tailwindcss";

/* Input */
@layer components {
  .input-base {
    @apply 
      appearance-none
      bg-neutral-700/30
      inset-shadow-sm inset-shadow-neutral-900/20
      rounded-sm
      px-2 py-4
      w-full
      outline-none
      text-neutral-100
      placeholder:text-neutral-400
      font-sans tracking-normal
      transition
      focus:ring-2 focus:ring-neutral-700;
  }
}

/* Header */
@layer components {
  .header-base {
    @apply
      fixed
      top-0
      w-full
      flex
      gap-10
      items-center
      p-2
      bg-neutral-800
      shadow-sm
      shadow-black/20
  }
}

/* h1 */
@layer base {
  h1 {
      @apply 
        text-xl 
        py-4 
        text-neutral-100
        text-center
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Form */
@layer components {
  .form-base {
    @apply
      fixed
      inset-0
      flex
      items-center
      justify-center
      bg-neutral-900
  }
}

/* Parent Div */
@layer components {
  .parent-base {
    @apply
      border-1
      border-white/10
      w-[500px]
      flex flex-col 
      bg-neutral-800/80 
      items-center text-center
      text-neutral-100 text-shadow-lg shadow-lg shadow-black/50 
      rounded-sm p-4 
      gap-3
  }
}

/* Button */
@layer components {
  .button-base {
    @apply
      bg-neutral-700
      text-white/80
      font-bold
      w-full
      text-center
      p-3
      shadow-sm
      shadow-neutral-900
      rounded-sm
      inset-shadow-sm
      transition
      hover:bg-neutral-600
      active:scale-98
      cursor-pointer
  }
}