@import "tailwindcss";

/* Input */
@layer components {
  .input-base {
    @apply 
      appearance-none
      bg-neutral-950
      inset-shadow-sm inset-shadow-neutral-900/20
      rounded-xl
      px-2 py-3
      w-full
      outline-none
      text-neutral-100
      placeholder:text-neutral-400
      font-sans tracking-normal
      transition
      focus:ring-2 focus:ring-neutral-700;
  }
}

/* Header */
@layer components {
  .header-base {
    @apply
      fixed
      top-0
      w-full
      flex
      gap-10
      items-center
      p-2
      bg-neutral-800
      shadow-sm
      shadow-black/20
  }
}

/* h1 */
@layer base {
  h1 {
      @apply 
        font-bold
        text-2xl 
        py-4 
        text-white
        text-center
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Form */
@layer components {
  .form-base {
    @apply
      fixed
      inset-0
      flex
      items-center
      justify-center
      bg-neutral-950
  }
}

/* Parent Div */
@layer components {
  .parent-base {
    @apply
      border-1
      border-white/10
      w-[500px]
      flex flex-col 
      bg-neutral-900 
      items-center text-center
      text-neutral-100 text-shadow-lg shadow-lg shadow-black/50 
      rounded-sm p-4 
      gap-3
  }
}

/* Button */
@layer components {
  .button-base {
    @apply
      bg-neutral-800
      text-white/50
      w-full
      text-center
      p-1.5
      border-1
      border-neutral-400/20
      rounded-3xl
      transition
      transition-colors
      duration-300
      ease-out
      hover:text-white
      hover:bg-neutral-700
      hover:border-neutral-500
      cursor-pointer
  }
}

@layer components {
  .spinner {
    @apply
      size-4 
      border-2 
      border-white 
      border-l-white/0 
      rounded-full 
      animate-spin
  }
}